<div id="<%= dom_id appointment %>">
  <p>
    <strong>Name:</strong>
    <%= appointment.name %>
  </p>

  <p>
    <strong>Month:</strong>
    <%= appointment.month %>
  </p>

  <p>
    <strong>Day:</strong>
    <%= appointment.day %>
  </p>

  <p>
    <strong>Service:</strong>
    <%= appointment.service %>
  </p>

</div>
