<!DOCTYPE html>
<html>
  <head>
    <title>BookingApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body>
    <div>
      <img src="https://i.ibb.co/cTmj6GP/pic5.png" alt="pic5" style="opacity: 0.2; width: 100%; height: 100%; position: absolute; z-index: -1;">
    </div>
    <%= yield %>
  </body>
</html>
