<!DOCTYPE html>
<html>
  <head>
    <title>BookingApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body>
    <div>
      <img src="https://i.ibb.co/4Fr26YK/pic6.jpg"
       alt="pic6" 
       style="opacity: 0.4; margin-top: -10px; width: 100%; height: 105%; position: absolute; z-index: -1;">
    </div>
    <%= yield %>

    <footer class="bg-gray-800 text-white text-center text-xs p-3 absolute bottom-0 w-full">
      &copy; 2023 BookingApp - All rights reserved - Developed by: Dario Alessio
    </footer>
  </body>
</html>
